.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 3rem;
  height: 100vh;
}

.postContent {
  
  img {
    width: 70%;
    height: 25rem;
  }

  >h1 {
    margin: 2rem 0 1.5rem;
    line-height: 2rem;
    font-size: 2rem;
    font-weight: 900;
  }

  .infoEdited {
    padding: 0.7rem 0 0;
    color: var(--info);
    font-style: italic;
  }

  .text {
    padding-top: 2rem;

    >h1 {
      font-size: 1.8rem;
      padding: 1rem 0;
    }
    
    .textContent {
      line-height: 1.5rem;
      font-size: 1.125rem;
      color: var(--body);
      
      p, ul, li, h2, h3 {
        margin: 1.2rem 0;
      }
      
      a {
        color: var(--highlight);
        text-decoration: underline;
      }
      
      li {
        list-style: disc;
      }
      
      strong {
        font-weight: bold;
        font-size: 1.2rem;
        color: var(--highlight);
      }
    }

    & + .text {
      padding: 0.5rem 0;
    }

    &:last-child {
      padding: 0 0 1.5rem;
    }
  }
}

.footerContent {
  margin: 1rem 0 0;
  padding: 1.5rem 0;
  border-top: 1px solid var(--divider);

  .postsNavigation {
    display: flex;
    justify-content: space-between;
    margin: 0 0 1rem;

    a {
      font-size: 1.125rem;
      line-height: 1.375rem;
      color: var(--body);

      transition: filter 0.6s;

      &:hover {
        filter: brightness(0.8);
      }
    }

    a span {
      display: block;
      color: var(--highlight);
      margin: 0.5rem 0 0;
      font-weight: 600;
      line-height: 1.18rem;
    }

    a.nextPost {
      text-align: right;
    }
  }

  .exitPreview {
    margin: 2.5rem 0;
  }
}